<p id="notice"><%= notice %></p>

<p>
  <strong>Pro name:</strong>
  <%= @product.pro_name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @product.amount %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
